- content_for(:header_title) { FamilyGallery::User.model_name.human(count: 2) }

- if can? :new, FamilyGallery::User
  - content_for(:header_right) { link_to t("add_new"), new_user_path, class: "mobile-button-header" }

= simple_search_form_for @ransack, @ransack_values do |f|
  = f.input :first_name_cont
  = f.input :last_name_cont
  = f.input :email_cont
  = f.submit t('search')

%table.mobile-table.list
  %thead
    %tr
      %th= sort_link @ransack, :first_name
      %th= sort_link @ransack, :last_name
      %th= sort_link @ransack, :email
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to_user user, title: user.first_name
        %td= link_to_user user, title: user.last_name
        %td= mail_to user.email
    - unless @users.any?
      %tr
        %td{colspan: 3}= t(".no_users_were_found")

= will_paginate @users
