- content_for(:header_title) { FamilyGallery::User.model_name.human(count: 2) }

= bb_panel t("filter") do
  = simple_search_form_for @ransack do |f|
    .row
      .col-md-4= f.input :first_name_cont
      .col-md-4= f.input :last_name_cont
      .col-md-4= f.input :email_cont

    = f.button :submit, t("search")

= bb_panel t("results"), table: true, controls: bb_new_btn([:new, :user], mini: true, can: FamilyGallery::User) do
  %thead
    %tr
      %th= sort_link @ransack, :first_name
      %th= sort_link @ransack, :last_name
      %th= sort_link @ransack, :email
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to_user user, title: user.first_name
        %td= link_to_user user, title: user.last_name
        %td= mail_to user.email
    - if @users.empty?
      %tr
        %td{colspan: 3}= t(".no_users_were_found")

= will_paginate @users
