- content_for(:header_title) { t(".show_user", user_name: @user.name) }

= link_to t('edit'), edit_user_path(@user), class: 'button' if can? :edit, @user
= link_to t('delete'), user_path(@user), method: :delete, class: 'button-danger', data: {confirm: t('are_you_sure')} if can? :destroy, @user

%h2= t(".tagged_on")
- @user.pictures_tagged_on.each do |picture|
  = picture_image_tag picture

- unless @user.pictures_tagged_on.any?
  = t(".user_hasnt_been_tagged_on_any_pictures")

%h2= t(".uploaded_pictures")
- @uploaded_pictures.each do |picture|
  = picture_image_tag picture

- if @user.uploaded_pictures.empty?
  = t(".this_user_havent_uploaded_any_pictures")

%br
%br

= will_paginate @uploaded_pictures

%h2= FamilyGallery::UserRole.model_name.human(count: 2)
= link_to t('add_new'), new_user_user_role_path(@user), class: 'button' if can?(:new, FamilyGallery::UserRole)

%br
%br

%table
  %thead
    %tr
      %th= FamilyGallery::UserRole.human_attribute_name(:role)
      %th= t('actions')
  %tbody
    - @user.user_roles.each do |user_role|
      %tr
        %td= user_role.role
        %td
          = link_to t('delete'), user_user_role_path(@user, user_role), method: :delete, data: {confirm: t('are_you_sure')} if can?(:destroy, user_role)
    - if @user.user_roles.empty?
      %tr
        %td{colspan: 2}= t('no_results')
