%h2= t(".log_in")

.row
  .col-md-4
    = bb_panel t("details") do
      = simple_form_for resource, as: resource_name, url: family_gallery_user_session_path do |f|
        = f.input :email, autofocus: true
        = f.input :password, input_html: {autocomplete: "off"}
        = f.input :remember_me, as: :boolean
        = f.button :submit, t(".log_in")
