%h2= t('.log_in')

= form_for(resource, as: resource_name, url: family_gallery_user_session_path) do |f|
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true

  .field
    = f.label :password, label: t('.password')
    %br
    = f.password_field :password, autocomplete: "off"

  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me, label: t('.remember_me')

  .actions= f.button :submit, t('.log_in')
