- content_for :menu_items do
  .menu_item= link_to t(".frontpage"), root_path
  .menu_item= link_to FamilyGallery::Group.model_name.human(count: 2), groups_path if can? :index, FamilyGallery::Group
  .menu_item= link_to t(".translations"), awesome_translations_path if Rails.env.development?
  .menu_item= link_to FamilyGallery::User.model_name.human(count: 2), users_path if can? :index, FamilyGallery::User
  .menu_item= link_to t(".language"), new_locale_path
  .menu_item
    - if signed_in?
      = link_to t(".sign_out"), destroy_family_gallery_user_session_path, method: :delete
    - else
      = link_to t(".sign_in"), new_family_gallery_user_session_path

- content_for :head do
  = stylesheet_link_tag "family_gallery/application_mobile"
  = javascript_include_tag "family_gallery/application_mobile"

= render "layouts/light_mobile_basic_layout"
