!!! 5
%html
  %head
    %title= try(:header_title) || "FamilyGallery"

    = stylesheet_link_tag "family_gallery/application", media: "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Raleway:400"

    = javascript_include_tag "family_gallery/application"

    = csrf_meta_tags

    = yield(:header_tag)
  %body{class: ["controller_#{controller_name}", "action_#{action_name}"]}
    %center
      %table.main
        %tbody
          %tr
            %td.main-logo FamilyGallery
          %tr
            %td.main-menu
              = link_to t(".frontpage"), root_path
              = link_to FamilyGallery::Group.model_name.human(count: 2), groups_path if can? :index, FamilyGallery::Group
              = link_to t(".translations"), awesome_translations_path if Rails.env.development?
              = link_to FamilyGallery::User.model_name.human(count: 2), users_path if can? :index, FamilyGallery::User

              - if signed_in?
                = link_to t(".sign_out"), destroy_family_gallery_user_session_path, method: :delete
              - else
                = link_to t(".sign_in"), new_family_gallery_user_session_path
          %tr
            %td.main-content
              - flash.each do |flash_type, flash_message|
                .flash-message{class: "flash-#{flash_type}"}
                  = flash_message

              - if try(:header_title).present?
                %h1= header_title

              = yield
          %tr
            %td.main-bottom
              = select_tag "locale", options_for_select(I18n.available_locales.to_a, I18n.locale), data: {url: locales_path}
