- content_for(:header_title_without_headline) { @picture.title_with_fallback }

.picture-panel-container
  = bb_panel class: "picture-panel", table: true do
    %tbody
      %tr
        %td.previous.text-left
          - if @previous_picture
            = bb_btn [@group, @previous_picture], mini: true, icon: "chevron-left"
          - else
            = bb_btn "#", mini: true, icon: "chevron-left", class: "disabled"

          = bb_btn [:rotate, @picture, degrees: 270], icon: "refresh", title: t(".rotate_counter_clockwise"), method: :post, small: true if can? :rorate, @picture
        %td.picture-title.text-center
          %h4= @picture.title_with_fallback
        %td.next.text-right
          = bb_btn [:rotate, @picture, degrees: 90], icon: "refresh", title: t(".rotate_clockwise"), method: :post, small: true if can? :rorate, @picture
          - if @next_picture
            = bb_btn [@group, @next_picture], mini: true, icon: "chevron-right"
          - else
            = bb_btn "#", mini: true, icon: "chevron-right", class: "disabled"
      %tr
        %td{colspan: 3, align: "center"}
          .picture-container{data: {sizes: @sizes}}
            - @picture.user_taggings.joins(:user).each do |user_tagging|
              .tagged-user{class: "tagged-user-#{user_tagging.user_id}", style: "left: #{user_tagging.position_left.to_i}%; top: #{user_tagging.position_top.to_i}%;"}
            = link_to @picture.image.url do
              %img{data: {width: @picture.width, height: @picture.height}}

= bb_panel t(".tagged_users"), table: true, class: "tagged-users-list", controls: bb_new_btn([:new, @picture, :user_tagging], mini: true, can: FamilyGallery::UserTagging) do
  - if @picture.user_taggings.any?
    %thead
      %tr
        %th= FamilyGallery::UserTagging.human_attribute_name(:user)
        %th
    %tbody
      - @picture.user_taggings.joins(:user).ordered.each do |user_tagging|
        %tr
          %td= link_to_user user_tagging.user
          %td.text-right= bb_destroy_btn [@picture, user_tagging], mini: true

- if @picture.groups.any?
  = bb_panel t("details"), table: true, controls: [bb_edit_btn([:edit, @picture], mini: true), bb_destroy_btn(@picture, mini: true)] do
    %tbody
      = bb_attribute_rows @picture, [:user_owner, :user_uploaded, :taken_at]

      - @picture.groups.each do |group|
        %tr
          %th= FamilyGallery::Group.model_name.human
          %td= link_to_group group

- if @picture.location?
  - content_for(:header_tag) do
    %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp"}

  = bb_panel t(".google_map") do
    #map-canvas{data: {latitude: @picture.latitude, longitude: @picture.longitude}}
