= simple_form_for group do |f|
  = f.input :name, autofocus: true
  = f.input :description
  = f.input :date_from, as: :string, placeholder: "yyyy/mm/dd hh:mm:ss"
  = f.input :date_to, as: :string, placeholder: "yyyy/mm/dd hh:mm:ss"
  = f.button :submit
