- content_for(:header_title) { FamilyGallery::Group.model_name.human(count: 2) }

= bb_panel t("filter"), controls: bb_new_btn([:new, :group], mini: true, can: FamilyGallery::Group) do
  = simple_search_form_for @ransack do |f|
    .row
      .col-md-6= f.input :name_cont, autofocus: true
      .col-md-6= f.input :description_cont

    = f.button :submit, t("search")

= bb_panel FamilyGallery::Group.model_name.human(count: 2), table: true do
  - if @groups.any?
    %thead
      %tr
        %th= sort_link @ransack, :name
        %th.hidden-xs-down= sort_link @ransack, :user_owner_first_name, FamilyGallery::Group.human_attribute_name(:user_owner)
        %th.hidden-md-down= sort_link @ransack, :date_from
        %th.hidden-sm-down= sort_link @ransack, :date_to
        %th= FamilyGallery::Picture.model_name.human(count: 2)
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to_group group
          %td.hidden-xs-down= link_to_user group.user_owner
          %td.hidden-md-down= l(group.date_from) if group.date_from?
          %td.hidden-sm-down= l(group.date_to) if group.date_to?
          %td= group.pictures.count

= will_paginate @groups
